{% autoescape false %}
<!DOCTYPE html>
<html lang="en">
<head>
<title>ClimateScore</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="/static/style.css">

</head>
<body>
    <div class="container-fluid header-old"><h3>What's Your Climatescore?</h3></div>
    <div class="container contents">

            <form id='location_form' action="/get-latlong" method="post">
                
                <!--<label for="user_location">Enter your address:</label>-->
                <input type="text" id="auto-place" name="location" required="" placeholder="Ex: 600 N Hayworth Ave. Los Angeles, CA 90048" />
                <button name="submit" type="submit" style="background-color: grey;">Get Your ClimateScore</button>

            </form>
            <div>
                {{msg}}
            </div>
            {% if loc %}
    <div class="container-fluid" id="results">
        <div class="location">Location:  {{loc}}</div>
        <div class="location">Latitude: {{latitude}} Longitude: {{longitude}} </div>
        <p></p>
        <div class="location">
        🌍 Climate Score: <b>{{climatescore}}</b><br>Your ClimateScore is the average of all of your Climate Hazard Scores below.
        <p></p>
        🌡 Temp Score: {{temp_score}}<br>{{tempScoreDescription}}
        <p></p>
        🔥 Fire Score: {{firescore}}<br>{{fireScoreDescription}}
        <p></p>
        🌊 Flood Score: coming soon
        <p></p>
        💧 Drought Score: {{droughtscore}}<br>{{droughtScoreDescription}}
        <p></p>
        🌧 Storm Score: coming soon
        <p></p>
        👣 Carbon Footprint Score: {{carbonFootprintScore}}<br>{{carbonScoreDescription}}
        </div>
        <div class="location"><img src="https://maps.googleapis.com/maps/api/staticmap?center={{loc}}&zoom=13&size=600x300&maptype=roadmap
&markers=color:blue%7Clabel:CS%7C{{loc}}
&key={{API_KEY}}"></div>

   
    </div> {% endif %}
    </div>
    
</body>
<script>
    function getCompletePlace(){
        var input = document.getElementById('auto-place');
        var complete = new google.maps.places.Autocomplete(input);
        complete.setFields(['address_components', 'name']); 
    }
</script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{API_KEY}}&libraries=places&callback=getCompletePlace"></script>



</html>
{% endautoescape %}